[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "thirdparty\\ST\\cmsis_device_f0"]
	path = thirdparty\\ST\\cmsis_device_f0
	url = .https://github.com/STMicroelectronics/cmsis_device_f0.git
[submodule "thirdparty\\TinyUSB\\lib"]
	path = thirdparty\\TinyUSB\\lib
	url = https://github.com/hathach/tinyusb.git
[submodule "thirdparty\\FreeRTOS\\lib"]
	path = thirdparty\\FreeRTOS\\lib
	url = https://github.com/FreeRTOS/FreeRTOS.git
[submodule "thirdparty\\CMSIS\\lib"]
	path = thirdparty\\CMSIS\\lib
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "thirdparty/FreeRTOS/lib"]
	path = thirdparty/FreeRTOS/lib
	url = https://github.com/FreeRTOS/FreeRTOS.git
[submodule "thirdparty/CMSIS/lib"]
	path = thirdparty/CMSIS/lib
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "thirdparty/ST/cmsis_device_f0"]
	path = thirdparty/ST/cmsis_device_f0
	url = https://github.com/STMicroelectronics/cmsis_device_f0.git
[submodule "thirdparty/TinyUSB/lib"]
	path = thirdparty/TinyUSB/lib
	url = https://github.com/hathach/tinyusb.git
[submodule "lib/cli"]
	path = lib/cli
	url = https://github.com/KerbalJeb/hydra-hal-cli.git
[submodule "lib/peripheral_drivers"]
	path = lib/peripheral_drivers
	url = https://github.com/KerbalJeb/hydra-hal-peripheral-drivers.git
[submodule "thirdparty\\spiffs\\lib"]
	path = thirdparty\\spiffs\\lib
	url = https://github.com/pellepl/spiffs.git
